<ion-header box-shadow>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="phalanax fs-20">MYSTIC</ion-title>
        <ion-icon
            name="md-settings"
            slot="end"
            class="nav-icon"
            routerLink="/tabs/settings"
            routerDirection="forward"
        ></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card
        class="tourney2"
        background-size
        [ngStyle]="{ 'background-image': 'url(/assets/imgs/eventsMain.jpg)' }"
    >
        <div clearfix></div>
    </ion-card>

    <div class="pdl-50 pdr-50">
        <br />
        <h2 class="phalanax rv">ADD PLAYERS</h2>
        <br />
        <ion-item lines="none" light class="light-bg enter bdra-30 shadow-1">
            <ion-input placeholder="Name" class="enter" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item light lines="none" class="light-bg enter bdra-30 shadow-1 mgt-10">
            <ion-input
                class="enter"
                placeholder="Phone Number"
                [(ngModel)]="phoneNumber"
            ></ion-input>
        </ion-item>
        <div text-right class="mgt-45">
            <ion-button
                (click)="addPlayer()"
                expand="round"
                color="primary"
                size="small"
                class="txt-light mgt--40"
            >
                <ion-icon class="txt-light" name="ios-add"></ion-icon>
            </ion-button>
        </div>
        <h2 class="phalanax rv">ROUNDS</h2>
        <br />
        <ion-toolbar class="nom">
            <ion-segment mode="ios" class="picker nom">
                <ion-segment-button
                    *ngFor="let choice of rounds"
                    (name)="(choice.val)"
                    mode="ios"
                    class="h-30 picker pdt-0"
                    (ionSelect)="segmentButtonClicked($event)"
                    value="{{ choice.val }}"
                    checked="{{ choice.isChecked }}"
                >
                    <ion-label class="open fs-14 rv">{{ choice.val }}</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-toolbar>
        <br />
        <div *ngIf="!isDisabled()">
            <h2 class="phalanax rv">
                PLAYERS
            </h2>

            <ion-list class="nom mgt-10">
                <ion-item-sliding *ngFor="let item of participants">
                    <ion-item class="open rv w-border">
                        <ion-label class="ion-text-capitalize open rv">{{ item.id }}</ion-label>
                        <ion-label class="open rv">{{ item.phoneNumber }}</ion-label>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option (click)="remove(item.id)">Remove</ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>

            <div text-left class="mgt-20 mgl-10">
                <ion-button
                    text-right
                    expand="round"
                    color="primary"
                    size="small"
                    (click)="removeAll()"
                    class="txt-light pdt-0 mgt-10 vam"
                >
                    <ion-label class="open fs-16 white mgr-10"> Clear all </ion-label
                    ><ion-icon class="txt-light pdt-0" name="close-circle"></ion-icon>
                </ion-button>
            </div>
        </div>
        <br />

        <div *ngIf="!isButtonDisabled()">
            <div text-center class="fs-25 fw-900 mgb-35 spacing1">
                <ion-button
                    expand="round"
                    color="primary"
                    size="medium"
                    class="txt-light but"
                    type="submit"
                    (disabled)="isButtonDisabled()"
                    (click)="startEvent()"
                    mode="ios"
                >
                    <h2 class="phalanax white">START AN EVENT</h2>
                </ion-button>
            </div>
        </div>
    </div>
</ion-content>
