.title-ios {
    padding: 0 15px;
    text-align: left;
}

.wrap-gallery-grid {
    .element-gallery {
        width: 25%;
        height: 25vw;
        background: var(--ion-background);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        img {
            min-height: 100%;
            width: auto;
        }
    }
}

// .md ion-list > .item:last-child,
// .md ion-list > .item-wrapper:last-child .item,
// .wp ion-list > .item:last-child,
// .wp ion-list > .item-wrapper:last-child .item,
// .ios ion-list > .item:last-child,
// .ios ion-list > .item-wrapper:last-child .item {
// 	border-bottom: none;
// }

.list-ios > .item-block:first-child {
    border-top: none !important;
}
.list-ios > .item-block:last-child {
    border-bottom: none !important;
}
.list-md > .item-block:first-child {
    border-top: none !important;
}
.list-md > .item-block:last-child {
    border-bottom: none !important;
}

.list {
    color: #ffffff;
}

.list2 {
    color: #000000;
}

.top {
    margin-top: 53px;
    align: center;
}

.pdt-0 {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.filter {
    top: 132px;
    right: 11px;
}

.mag {
    margin-top: 20px;
}

.wrap-blog-post {
    .cover {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        overflow: hidden;
        .slogan {
            position: relative;
            z-index: 100;
        }
        .bg-img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .main-content {
        position: relative;
        z-index: 100;
    }

    .post-element {
        .thumb-view {
            width: 100%;
            /*height: 60vw;*/
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .excerpt {
            display: flex;
            .left-txt {
                flex: 10;
            }
            .right-action {
                flex: 1;
            }
            .description {
                height: 35px;
                overflow: hidden;
            }
        }
        &.post-img-bg {
            position: relative;
            .excerpt {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                .left-txt {
                    display: flex;
                    flex-direction: column;
                    .top-title {
                        flex: 10;
                    }
                }
                .right-action {
                    flex: 1;
                }
            }
        }
    }
}

.nom {
    padding-bottom: 0px !important;
    margin-bottom: 0 !important;
}

.wrap-login-v8 {
    width: 100%;
    height: 100%;
    position: absolute;
    .decor {
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        .decor-primary {
            width: 245px;
            height: 228px;
            border-radius: 50%;
            margin-right: -111px;
            margin-top: -108px;
            opacity: 0.2;
        }
        .decor-secondary {
            width: 117px;
            height: 210px;
            border-radius: 50%;
            position: absolute;
            top: 3px;
            right: -102px;
            opacity: 0.5;
            transform: rotate(37deg);
        }
        .decor-tertiary {
            width: 287px;
            height: 178px;
            border-radius: 50%;
            position: absolute;
            transform: rotate(58deg);
            top: 116px;
            right: -174%;
            opacity: 0.7;
        }
    }
    .wrap-interval {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .brand {
            z-index: 100;
            position: relative;
            flex: 2.5;
            width: 100%;
            display: flex;
            align-items: flex-end;
            img {
                height: 70px;
            }
        }
        .main-form {
            position: relative;
            z-index: 100;
            flex: 3;
            width: 100%;
        }
        .bottom-form {
            position: relative;
            z-index: 100;
            flex: 1;
        }
    }
}

.enter {
    // color: #cccccc;
    background-color: #eeeeee;
}

.light-bg {
    --background: #eeeeee !important;
}

.w-border {
    --border-color: #cccccc;
}

.picker {
    --border-color: #cccccc;

    --background: var(--mystic-backgroundColor, #ffffff);
    --background-checked: #892bfe;
    --background-activated: var(--mystic-backgroundColor, #ffffff);
    // --color: var(--mystic-light, #1b1e28);
    --color-checked: var(--mystic-light, #ffffff);
}

.rv {
    color: var(--mystic-light, #000000);
}

.but {
    --padding-top: 10px !important;
    --padding-bottom: 20px !important;
}

.rounds {
    margin-left: 20px;
    margin-right: 20px;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.h-30 {
    height: 50px !important;
}

.mgl-100 {
    margin-left: 116px;
}

.vam {
    vertical-align: middle !important;
}

.tourney2 {
    height: 225px !important;
}

/* Settings Segments Button
===============================*/
:host-context(page-home) {
    ion-segment {
        display: flex;
        flex-direction: row;
        overflow: auto;
        justify-content: flex-start;

        ion-segment-button.segment-button {
            width: auto !important;
            overflow: visible;
            margin: 0 5px;
        }
    }

    .center {
        align-content: center;
        place-content: center;
        position: relative;
        text-align: center;
    }

    ion-slides {
        padding-bottom: 40px;

        .slide-zoom {
            height: 100%;
            text-align: left;
        }
    }

    /* Settings Slider Image*/
    // [background-size-header] {
    //     position: relative;
    //     height: 230px;
    //     overflow: hidden;
    //     border-radius: 4px !important;

    //     &::after {
    //         content: '';
    //         position: absolute;
    //         bottom: 0;
    //         left: 0;
    //         right: 0;
    //         top: 0;
    //         // background: rgba(0, 0, 0, 0.34);
    //     }

    //     /* Settings Wizard */
    //     [wizard-title] {
    //         color: var(--mystic-sliderColor, #ffffff);
    //         font-size: 18px;
    //         z-index: 999;
    //         padding: 16px;
    //         left: 0;
    //         position: absolute;
    //         bottom: 25px;
    //     }
    //     /* Settings DataTime */
    //     ion-chip {
    //         z-index: 999;
    //         padding: 16px;
    //         position: absolute;
    //         bottom: 10px;
    //         left: 0;
    //         font-size: 14px;

    //         ion-icon,
    //         ion-label {
    //             color: var(--mystic-sliderColor, #ffffff) !important;
    //         }
    //     }
    //     /* Settings BookMark */
    //     [bookMark] {
    //         z-index: 99;
    //         position: absolute;
    //         top: 5px;
    //         right: 16px;

    //         ion-icon {
    //             color: var(--mystic-sliderColor, #ffffff);
    //         }
    //     }
    // }

    /* Settings Slider Image*/
    [background-size] {
        position: relative;
        height: 230px;
        overflow: hidden;
        border-radius: 4px !important;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            // background: rgba(0, 0, 0, 0.34);
            background: rgba(0, 0, 0, 0.04);
        }

        /* Settings Wizard */
        [wizard-title] {
            color: var(--mystic-sliderColor, #ffffff);
            font-size: 18px;
            z-index: 999;
            padding: 16px;
            left: 0;
            position: absolute;
            bottom: 25px;
        }
        /* Settings DataTime */
        ion-chip {
            z-index: 999;
            padding: 16px;
            position: absolute;
            bottom: 10px;
            left: 0;
            font-size: 14px;

            ion-icon,
            ion-label {
                color: var(--mystic-sliderColor, #ffffff) !important;
            }
        }
        /* Settings BookMark */
        [bookMark] {
            z-index: 99;
            position: absolute;
            top: 5px;
            right: 16px;

            ion-icon {
                color: var(--mystic-sliderColor, #ffffff);
            }
        }
    }
}

.ion-segment-header {
    --background: var(--mystic-toobarBackground, #ffffff) !important;
    --background-checked: var(--mystic-toobarBackground, #ffffff) !important;
    --background-activated: var(--mystic-toobarBackground, #ffffff) !important;
    --color-checked: #9f86c0 !important;
}

.h-125 {
    height: 125px !important;
    object-fit: cover;
    // object-position: 100% 0;
}

.filter {
    bottom: 11px;
    right: 11px;
    height: 50px;
    width: 50px;
    z-index: 100;
}

.z-grid {
    z-index: 1;
    position: relative;
}

.logo {
    background: transparent;
}

.logo-inner {
    object-fit: fill;
    // width:	25px;
    // height: 25px
}

.bdr-5 {
    border-radius: 25px !important;
}

.mg-0 {
    margin: 0px !important;
    padding: 0px !important;
}

.h-125 {
    height: 125px !important;
}

.small-fab {
    width: 30px;
    height: 30px;
    --background: var(--mystic-backgroundColor, #ffffff);
}

.filter2 {
    top: 250px;
    right: 25px;
    height: 25px;
    --background: var(--mystic-backgroundColor, #ffffff);
    width: 25px;
    z-index: 100;
}

.share-but {
    margin-left: 100px !important;
    margin-top: 24px !important;
    color: white !important;
}
