.light-purple {
    --ion-color-primary: #6a5787 !important;
}

.select {
    --background-checked: #6a5787 !important;
    outline: none !important;
    border: 0px !important;
    border-radius: 7px !important;
}

.roboto-white {
    font-family: Roboto;
    color: white !important;
}

.roboto-white-title {
    font-family: Roboto;
    color: white !important;
    text-align: center !important;
    margin-top: 6px;
}

.bg-purple {
    background-color: #544a63 !important;
}

.player {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #6a5787;
    color: #6a5787 !important;
    border-radius: 6px !important;
}

.player-item {
    color: #6a5787 !important;
    --background: #6a5787 !important;
}

.bg-theme {
    --background: #544a63 !important;
}

.but {
    --padding-top: 10px !important;
    --padding-bottom: 20px !important;
}

.white {
    color: #544a63 !important;
    --background: #fff !important;
}
