<ion-header box-shadow>
    <ion-toolbar class="bg-light-purple">
        <ion-title class="roboto-white-title fs-21" *ngIf="!eventComplete">
            <span class="">Round {{ tourney.round.roundNum }}</span>
        </ion-title>
        <ion-title class="roboto-white-title fs-21" *ngIf="eventComplete">
            <span class="">Event Complete!</span>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-theme">
    <div
        class="roboto-white-title fs-21 text-center pdt-7 pdb-7"
        (click)="manipulateTimer()"
        *ngIf="!eventComplete"
    >
        <ion-icon name="timer" [style.color]="timer <= 300 ? 'red' : 'white'"></ion-icon
        ><span class="ml-5">{{ timerDisplay }}</span>
    </div>

    <div class="pdl-18 pdr-18 pdt-5">
        <ion-segment
            (ionChange)="segmentChanged($event)"
            mode="ios"
            value="pairings"
            *ngIf="!eventComplete"
        >
            <ion-segment-button value="pairings">
                <ion-label class="roboto-white">Pairings</ion-label>
            </ion-segment-button>
            <ion-segment-button value="standings">
                <ion-label class="roboto-white">Standings</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

    <br />

    <!-- display pairings -->
    <div *ngIf="!displayStandings && !expandedView">
        <ion-card
            no-margin
            class="mgb-15 bg-purple-card bdra-5"
            *ngFor="let pairing of tourney.round.pairings"
        >
            <ion-grid>
                <ion-row>
                    <h5 class="fs-17 roboto-white w-100 pdl-5" side="start">
                        {{ pairing.home.id }}
                    </h5>
                    <button
                        class="wins float-right"
                        *ngIf="!pairing.bye"
                        [style.background]="pairing.home.score > pairing.away.score ? '#915fc2' : '#544a63'"
                        (click)="incrementScore(pairing.home, pairing.away)"
                    >
                        <a class="fs-22 roboto-white">{{ pairing.home.score }}</a>
                    </button>
                    <ion-col *ngIf="pairing.bye">
                        <h3 class="center roboto-semibold roboto-white fs-18">
                            BYE
                        </h3>
                    </ion-col>
                    <h3
                        ion-text-center
                        class="center roboto-semibold roboto-white fs-18 pdl-7 pdr-7"
                        *ngIf="!pairing.bye"
                    >
                        VS
                    </h3>
                    <button
                        class="wins float-right"
                        *ngIf="!pairing.bye"
                        [style.background]="pairing.home.score < pairing.away.score ? '#915fc2' : '#544a63'"
                        (click)="incrementScore(pairing.away, pairing.home)"
                    >
                        <a class="fs-22 roboto-white">{{ pairing.away.score }}</a>
                    </button>

                    <h5 class="fs-17 roboto-white float-right w-100 pdr-5" side="end">
                        {{ pairing.away.id }}
                    </h5>
                </ion-row>
            </ion-grid>
        </ion-card>
    </div>

    <div *ngIf="!displayStandings && expandedView">
        <ion-card
            no-margin
            class="mgb-15 bg-purple-card bdra-5"
            *ngFor="let pairing of tourney.round.pairings"
        >
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h5 class="fs-17 roboto-white w-100 pdl-5" side="start">
                            {{ pairing.home.id }}
                        </h5>
                        <button
                            class="wins float-right"
                            [style.background]="pairing.home.score > pairing.away.score ? '#915fc2' : '#544a63'"
                            *ngIf="!pairing.bye"
                            (click)="incrementScore(pairing.home, pairing.away)"
                        >
                            <a class="fs-22 roboto-white">{{ pairing.home.score }}</a>
                        </button>
                    </ion-col>

                    <ion-col>
                        <h3
                            ion-text-center
                            class="center roboto-semibold roboto-white fs-18 pdl-7 pdr-7"
                            *ngIf="pairing.bye"
                        >
                            BYE
                        </h3>
                        <h3
                            ion-text-center
                            class="center roboto-semibold roboto-white fs-18 pdl-7 pdr-7"
                            *ngIf="!pairing.bye"
                        >
                            VS
                        </h3>
                    </ion-col>
                    <ion-col class="float-right">
                        <h5 class="fs-17 roboto-white float-right w-100 pdr-5" side="end">
                            {{ pairing.away.id }}
                        </h5>
                        <button
                            class="wins float-right"
                            [style.background]="pairing.home.score < pairing.away.score ? '#915fc2' : '#544a63'"
                            *ngIf="!pairing.bye"
                            (click)="incrementScore(pairing.away, pairing.home)"
                        >
                            <a class="fs-22 roboto-white">{{ pairing.away.score }}</a>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </div>

    <!-- display standings -->
    <div *ngIf="displayStandings">
        <div class="pdl-15 pdr-15 pdt-5">
            <ion-list class="player">
                <ion-item
                    class="player-item ion-text-start"
                    lines="none"
                    *ngFor="let person of tourney.standings"
                    ><ion-col size="8">
                        <h5 class="fs-19 roboto-white">
                            <span class="rank">{{ person.index }}</span>
                            {{ person.id }}
                        </h5>
                    </ion-col>
                    <ion-col
                        ><ion-button
                            side="end"
                            mode="ios"
                            class="results float-right"
                            id="longMessage"
                            expand="block"
                            (click)="presentDetailedStandings(person)"
                            shape="results"
                            >RECORD</ion-button
                        ></ion-col
                    >
                </ion-item>
            </ion-list>
        </div>
    </div>

    <!-- <ion-fab class="filter" vertical="top" horizontal="end" edge id="fab1">
        <ion-fab-button mini class="e2eFabTopRight" (click)="textPairings()">
            <ion-icon name="ios-text"></ion-icon>
        </ion-fab-button>
        {{ tourney.status }}
    </ion-fab> -->

    <div class="fs-20 fw-900 text-center" *ngIf="!displayStandings && !eventComplete">
        <ion-button size="medium" class="but" type="submit" (click)="nextRound()" mode="ios">
            <h2 class="roboto-white fs-18" *ngIf="tourney.round.roundNum < tourney.totalRounds">
                Next Round
            </h2>
            <h2 class="roboto-white fs-18" *ngIf="tourney.round.roundNum >= tourney.totalRounds">
                See Results
            </h2>
        </ion-button>
    </div>

    <div class="fs-20 fw-900 text-center" *ngIf="eventComplete">
        <ion-button
            color="primary"
            mode="ios"
            size="medium"
            class="but fs-18"
            type="submit"
            (click)="endEvent()"
        >
            <h3 class="roboto-white">Done</h3>
        </ion-button>
    </div>
    <div class="fs-10 text-center">
        <ion-button
            color="bg-theme"
            mode="ios"
            size="small"
            class="fs-10"
            type="submit"
            (click)="reset()"
        >
            <p color="primary" class="fs-14 color-purp">Reset</p>
        </ion-button>
    </div>
</ion-content>
