.bg-color {
    --background: var(--mystic-backgroundColor, var(--ion-background-color, #544a63));
    --background-focused: #e0e0e0;
    // --border: 1px solid var(--ion-tab-bar-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(0,0,0,0.07))));
    --color: var(--ion-tab-bar-color, var(--ion-color-step-600, #aaa));
    --color-selected: var(--ion-tab-bar-color-activated, var(--mystic-light, #fff));
}
