// bg of counter
.bg-theme {
    --background: #544a63 !important;
}

.grid {
    padding: 0;
}

// centers grid horizontally and vertically
.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

// the life number value
.val {
    font-size: 55px;
    font-weight: bold;
    // color: white;
    color: #fff;
}

.mgl-4 {
    margin-left: 4px;
}

.mgr-4 {
    margin-right: 4px;
}
.mgt-4 {
    margin-top: 4px;
}

.mgb-4 {
    margin-bottom: 4px;
}

.bdr-top {
    border-radius: 0px 9px 9px 9px;
}

.bdr-left {
    border-radius: 9px 0px 9px 9px;
}

.bdr-bottom {
    border-radius: 9px 9px 0px 9px;
}

.bdr-right {
    border-radius: 9px 9px 9px 0px;
}

.val-item {
    --background: rgba(0, 0, 0, 0) !important;
}

.val-container {
    // background: #6a5787;
    // border-radius: 9px;
    text-align: center;
    position: relative;
    height: 49.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up {
    position: absolute;
    width: 25vw;
    height: 100%;
}

.down {
    position: absolute;
    width: 25vw;
    height: 100%;
}

.right {
    top: 0;
    right: 0;
}

.left {
    top: 0;
    left: 0;
}

.rotate-left {
    transform: rotate(90deg);
}

.rotate-right {
    transform: rotate(-90deg);
}

// COLORS for life bg
.red {
    background: #dc2054;
}
.orange {
    background: #f0583b;
}
.tangerine {
    background: #f29a2c;
}
.yellow {
    background: #e6c72f;
}
.lime {
    background: #a4d53f;
}

.green {
    background: #6fd872;
}

.aqua {
    background: #56c9ab;
}

.sky {
    background: #51a8e7;
}
.blue {
    background: #597fdd;
}

.lightPurple {
    background: #6a5787;
}

.purple {
    background: #8260ed;
}

.magenta {
    background: #aa4ee0;
}

.pink {
    background: #dc2054;
}

.lightPink {
    background: #f38aae;
}

.hotPink {
    background: #e0379d;
}

.black {
    background: #333333;
}

.white {
    background: #fff;
}

// .red {
//     background: #e62d62;
// }
// .orange {
//     background: #ff6f32;
// }
// .yellow {
//     background: #ffcd32;
// }

// .lime {
//     background: #a4d53f;
// }

// .green {
//     background: #03c074;
// }

// .aqua {
//     background: #56c9ab;
// }

// .sky {
//     background: #51a8e7;
// }
// .blue {
//     background: #3283c6;
// }

// .lightPurple {
//     background: #6a5787;
// }

// .purple {
//     background: #7f56ab;
// }

// .magenta {
//     background: #aa4ee0;
// }

// .pink {
//     background: #dc2054;
// }

// .lightPink {
//     background: #f38aae;
// }

// .hotPink {
//     background: #e0379d;
// }

// .black {
//     background: #333333;
// }

// .white {
//     background: #fff;
// }
