.bg-theme {
    --background: #544a63 !important;
}

.grid-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    .grid {
        padding: 0;
    }
}

#settings {
    .settings-icon {
        font-size: 22px;
        padding: 7px;
        color: #fff;
        position: fixed;
        transform: translate(-50%, -50%);
        border-radius: 22px;
        background: #544a63;
        z-index: 1;
        top: var(--top);
        left: var(--left);
    }
    .odd1-3 {
        @media (orientation: portrait) {
            --top: 74.5%;
            --left: 50%;
        }
        @media (orientation: landscape) {
            --top: 50%;
            --left: 74.5%;
        }
    }
    .even2-4 {
        --top: 50%;
        --left: 50%;
    }
    .even6 {
        @media (orientation: portrait) {
            --top: 67%;
            --left: 50%;
        }
        @media (orientation: landscape) {
            --top: 50%;
            --left: 67%;
        }
    }
}

@media (orientation: portrait) {
    .orient-port {
        display: flex;
    }
}

@media (orientation: landscape) {
    .orient-land {
        display: flex;
    }
}

#seat2 {
    .val-container {
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--height);

        @media (orientation: portrait) {
            --rotate-player0: 180deg;
            --rotate-player1: 0deg;
            --height: 49.5vh;

            .counter {
                position: absolute;
                width: 100%;
                height: 25vh;
            }
        }

        @media (orientation: landscape) {
            --rotate-player0: 90deg;
            --rotate-player1: -90deg;
            --height: 100vh;

            .counter {
                position: absolute;
                height: 100%;
                width: 25vw;
            }
        }

        .p0-add-life,
        .p1-rem-life {
            bottom: 0;
            right: 0;
        }
        .p0-rem-life,
        .p1-add-life {
            top: 0;
            left: 0;
        }

        .val {
            font-size: 110px;
            font-weight: bold;
            color: #fff;
        }

        .rotate-player0 {
            transform: rotate(var(--rotate-player0));
        }
        .rotate-player1 {
            transform: rotate(var(--rotate-player1));
        }
    }
    @media (orientation: portrait) {
        .p0 {
            margin-bottom: 1vh;
            border-radius: 0px 0px 10px 10px;
        }
        .p1 {
            margin-top: 1vh;
            border-radius: 10px 10px 0px 0px;
        }
    }
    @media (orientation: landscape) {
        .p0 {
            margin-right: 1vw;
            border-radius: 0px 10px 10px 0px;
        }
        .p1 {
            border-radius: 10px 0px 0px 10px;
        }
    }
}

#seat3 {
    .val-container {
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--height);
        width: var(--width);

        @media (orientation: portrait) {
            --rotate-player0: 90deg;
            --rotate-player1: -90deg;
            --height: 74vh;
            --width: 50vw;

            .counter {
                position: absolute;
                height: 100%;
                width: 25vw;
            }
        }

        @media (orientation: landscape) {
            --rotate-player0: 180deg;
            --rotate-player1: 0deg;
            --height: 49vh;
            --width: 74vw;

            .counter {
                position: absolute;
                width: 100%;
                height: 25vh;
            }
        }

        .p0-add-life,
        .p1-rem-life {
            bottom: 0;
            right: 0;
        }
        .p0-rem-life,
        .p1-add-life {
            top: 0;
            left: 0;
        }

        .val {
            font-size: 70px;
            font-weight: bold;
            color: #fff;
        }

        .rotate-player0 {
            transform: rotate(var(--rotate-player0));
        }
        .rotate-player1 {
            transform: rotate(var(--rotate-player1));
        }
    }
    .long-p2 {
        position: absolute;
        height: var(--height) !important;
        width: var(--width) !important;

        @media (orientation: portrait) {
            --rotate-player2: 0deg;
            --height: 25vh;
            --width: 100vw;
            bottom: 0;
            left: 0;

            .counter {
                position: absolute;
                width: 100%;
                height: 12.5vh !important;
            }
        }

        @media (orientation: landscape) {
            --rotate-player2: -90deg;
            --width: 25vw;
            --height: 100vh;
            bottom: 0;
            right: 0;

            .counter {
                position: absolute;
                height: 100%;
                width: 12.5vw !important;
            }
        }

        .rotate-player2 {
            transform: rotate(var(--rotate-player2));
        }

        .p2-add-life {
            top: 0;
            left: 0;
        }
        .p2-rem-life {
            bottom: 0;
            right: 0;
        }
    }

    @media (orientation: portrait) {
        .p0 {
            border-radius: 0px 0px 10px 10px;
        }
        .p1 {
            margin-left: 1vh;
            border-radius: 0px 0px 10px 10px;
        }
        .p2 {
            margin-top: 1vh;
            border-radius: 10px 10px 0px 0px;
        }
    }
    @media (orientation: landscape) {
        .p0 {
            margin-right: 1vh;
            border-radius: 0px 10px 10px 0px;
        }
        .p1 {
            margin-top: 1vw;
            margin-right: 1vh;
            border-radius: 0px 10px 10px 0px;
        }
        .p2 {
            border-radius: 10px 0px 0px 10px;
        }
    }
}

#seat4 {
    .orient {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .val-container {
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 49.5vh;
        width: 49.5vw;

        @media (orientation: portrait) {
            --rotate-player0: 90deg;
            --rotate-player1: -90deg;
            --rotate-player2: 90deg;
            --rotate-player3: -90deg;

            .counter {
                position: absolute;
                width: 25vw;
                height: 100%;
            }

            .p1-add-life,
            .p2-rem-life {
                top: 0;
                left: 0;
            }

            .p1-rem-life,
            .p2-add-life {
                bottom: 0;
                right: 0;
            }

            @media (min-width: 700px) {
                .val {
                    font-size: 100px !important;
                    font-weight: bold;
                    color: #fff;
                }
            }
        }

        @media (orientation: landscape) {
            --rotate-player0: 180deg;
            --rotate-player1: 180deg;
            --rotate-player2: 0deg;
            --rotate-player3: 0deg;

            .counter {
                position: absolute;
                height: 25vh;
                width: 100%;
            }

            .p1-add-life,
            .p2-rem-life {
                bottom: 0;
                right: 0;
            }
            .p1-rem-life,
            .p2-add-life {
                top: 0;
                left: 0;
            }

            @media (min-width: 1000px) {
                .val {
                    font-size: 100px !important;
                    font-weight: bold;
                    color: #fff;
                }
            }
        }

        .p0-add-life,
        .p3-rem-life {
            bottom: 0;
            right: 0;
        }
        .p0-rem-life,
        .p3-add-life {
            top: 0;
            left: 0;
        }

        .val {
            font-size: 70px;
            font-weight: bold;
            color: #fff;
        }

        .rotate-player0 {
            transform: rotate(var(--rotate-player0));
        }
        .rotate-player1 {
            transform: rotate(var(--rotate-player1));
        }
        .rotate-player2 {
            transform: rotate(var(--rotate-player2));
        }
        .rotate-player3 {
            transform: rotate(var(--rotate-player3));
        }
    }

    @media (orientation: portrait) {
        .p0 {
            margin-right: 1vw;
            border-radius: 0px 10px 10px 10px;
        }
        .p1 {
            margin-left: 1vw;
            border-radius: 10px 0px 10px 10px;
        }
        .p2 {
            margin-top: 1vh;
            border-radius: 10px 10px 10px 0px;
        }
        .p3 {
            margin-top: 1vh;
            margin-left: 1vw;
            border-radius: 10px 10px 0px 10px;
        }
    }
    @media (orientation: landscape) {
        .p0 {
            margin-bottom: 1vh;
            border-radius: 0px 10px 10px 10px;
        }
        .p1 {
            margin-left: 1vw;
            border-radius: 10px 0px 10px 10px;
        }
        .p2 {
            margin-top: 1vh;
            border-radius: 10px 10px 10px 0px;
        }
        .p3 {
            margin-top: 1vh;
            margin-left: 1vw;
            border-radius: 10px 10px 0px 10px;
        }
    }
}

#seat6 {
    .orient {
        display: grid;
        @media (orientation: portrait) {
            grid-template-columns: 1fr 1fr;
        }
        @media (orientation: landscape) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .val-container {
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--height);
        width: var(--width);

        @media (orientation: portrait) {
            --rotate-player0: 90deg;
            --rotate-player1: -90deg;
            --rotate-player2: 90deg;
            --rotate-player3: -90deg;
            --rotate-player4: 90deg;
            --rotate-player5: -90deg;
            --height: 32.66vh;
            --width: 49.3vw;

            .counter {
                position: absolute;
                width: 25vw;
                height: 100%;
            }

            @media (min-width: 700px) {
                .val {
                    font-size: 100px !important;
                    font-weight: bold;
                    color: #fff;
                }
            }
        }

        @media (orientation: landscape) {
            --rotate-player0: 180deg;
            --rotate-player1: 180deg;
            --rotate-player2: 180deg;
            --rotate-player3: 0deg;
            --rotate-player4: 0deg;
            --rotate-player5: 0deg;
            --height: 49.1vh;
            --width: 32.66vw;

            .counter {
                position: absolute;
                height: 25vh;
                width: 100%;
            }

            @media (min-width: 1000px) {
                .val {
                    font-size: 100px !important;
                    font-weight: bold;
                    color: #fff;
                }
            }
        }

        .p0-add-life,
        .p1-add-life,
        .p2-add-life {
            bottom: 0;
            right: 0;
        }
        .p0-rem-life,
        .p1-rem-life,
        .p2-rem-life {
            top: 0;
            left: 0;
        }
        .p3-add-life,
        .p4-add-life,
        .p5-add-life {
            top: 0;
            left: 0;
        }
        .p3-rem-life,
        .p4-rem-life,
        .p5-rem-life {
            bottom: 0;
            right: 0;
        }

        .val {
            font-size: 70px;
            font-weight: bold;
            color: #fff;
        }

        .rotate-player0 {
            transform: rotate(var(--rotate-player0));
        }
        .rotate-player1 {
            transform: rotate(var(--rotate-player1));
        }
        .rotate-player2 {
            transform: rotate(var(--rotate-player2));
        }
        .rotate-player3 {
            transform: rotate(var(--rotate-player3));
        }
        .rotate-player4 {
            transform: rotate(var(--rotate-player4));
        }
        .rotate-player5 {
            transform: rotate(var(--rotate-player5));
        }
    }

    @media (orientation: portrait) {
        .p0 {
            margin-right: 1vw;
            border-radius: 0px 10px 10px 10px;
        }
        .p1 {
            margin-bottom: 1vh;
            margin-left: 1vw;
            border-radius: 10px 0px 10px 10px;
        }
        .p2 {
            margin-right: 1vw;
            border-radius: 10px;
        }
        .p3 {
            margin-bottom: 1vh;
            margin-left: 1vw;
            border-radius: 10px;
        }
        .p4 {
            margin-right: 1vw;
            border-radius: 10px 10px 10px 0px;
        }
        .p5 {
            margin-left: 1vw;
            border-radius: 10px 10px 0px 10px;
        }
    }

    @media (orientation: landscape) {
        .p0 {
            margin-right: 1vw;
            border-radius: 0px 10px 10px 10px;
        }
        .p1 {
            margin-bottom: 1vh;
            margin-right: 1vw;
            border-radius: 10px;
        }
        .p2 {
            margin-bottom: 1vw;
            border-radius: 10px 0px 10px 10px;
        }
        .p3 {
            margin-right: 1vw;
            border-radius: 10px 10px 10px 0px;
        }
        .p4 {
            margin-right: 1vw;
            border-radius: 10px;
        }
        .p5 {
            border-radius: 10px 10px 0px 10px;
        }
    }
}
