.bg-theme {
    --background: #544a63 !important;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .grid {
        padding: 0;
    }
}

#seat2 {
    .val-container {
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 49.5vh;

        @media (orientation: portrait) {
            --rotate-player1: 90deg;
            --rotate-player2: -90deg;

            .counter {
                position: absolute;
                width: 25vw;
                height: 100%;
            }

            .p2-add-life {
                top: 0;
                left: 0;
            }

            .p2-rem-life {
                bottom: 0;
                right: 0;
            }
        }

        @media (orientation: landscape) {
            --rotate-player1: 180deg;
            --rotate-player2: 180deg;

            .counter {
                position: absolute;
                height: 25vh;
                width: 100%;
            }

            .p2-add-life {
                bottom: 0;
                right: 0;
            }

            .p2-rem-life {
                top: 0;
                left: 0;
            }
        }

        .p1-add-life {
            bottom: 0;
            right: 0;
        }

        .p1-rem-life {
            top: 0;
            left: 0;
        }

        .val {
            font-size: 60px;
            font-weight: bold;
            color: #fff;
        }

        .rotate-player1 {
            transform: rotate(var(--rotate-player1));
        }
        .rotate-player2 {
            transform: rotate(var(--rotate-player2));
        }
    }

    .top-left {
        margin-right: 0.5vw;
        margin-bottom: 0.5vh;
        border-radius: 0px 9px 9px 9px;
    }
    .top-right {
        margin-bottom: 0.5vh;
        margin-left: 0.5vw;

        border-radius: 9px 0px 9px 9px;
    }

    .bottom-left {
        margin-right: 0.5vw;
        margin-top: 0.5vh;
        border-radius: 9px 9px 9px 0px;
    }

    .bottom-right {
        margin-top: 0.5vh;
        margin-left: 0.5vw;

        border-radius: 9px 9px 0px 9px;
    }
}

#seat4 {
    .val-container {
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 49.5vh;

        @media (orientation: portrait) {
            --rotate-player1: 90deg;
            --rotate-player2: -90deg;
            --rotate-player3: 90deg;
            --rotate-player4: -90deg;

            .counter {
                position: absolute;
                width: 25vw;
                height: 100%;
            }

            .p2-add-life {
                top: 0;
                left: 0;
            }

            .p2-rem-life {
                bottom: 0;
                right: 0;
            }

            .p3-add-life {
                bottom: 0;
                right: 0;
            }

            .p3-rem-life {
                top: 0;
                left: 0;
            }
        }

        @media (orientation: landscape) {
            --rotate-player1: 180deg;
            --rotate-player2: 180deg;
            --rotate-player3: 0deg;
            --rotate-player4: 0deg;

            .counter {
                position: absolute;
                height: 25vh;
                width: 100%;
            }

            .p2-add-life {
                bottom: 0;
                right: 0;
            }

            .p2-rem-life {
                top: 0;
                left: 0;
            }

            .p3-add-life {
                top: 0;
                left: 0;
            }

            .p3-rem-life {
                bottom: 0;
                right: 0;
            }
        }

        .p1-add-life {
            bottom: 0;
            right: 0;
        }

        .p1-rem-life {
            top: 0;
            left: 0;
        }

        .p4-add-life {
            top: 0;
            left: 0;
        }

        .p4-rem-life {
            bottom: 0;
            right: 0;
        }

        .val {
            font-size: 60px;
            font-weight: bold;
            color: #fff;
        }

        .rotate-player1 {
            transform: rotate(var(--rotate-player1));
        }
        .rotate-player2 {
            transform: rotate(var(--rotate-player2));
        }
        .rotate-player3 {
            transform: rotate(var(--rotate-player3));
        }
        .rotate-player4 {
            transform: rotate(var(--rotate-player4));
        }
    }

    .top-left {
        margin-right: 0.5vw;
        margin-bottom: 0.5vh;
        border-radius: 0px 9px 9px 9px;
    }
    .top-right {
        margin-bottom: 0.5vh;
        margin-left: 0.5vw;

        border-radius: 9px 0px 9px 9px;
    }

    .bottom-left {
        margin-right: 0.5vw;
        margin-top: 0.5vh;
        border-radius: 9px 9px 9px 0px;
    }

    .bottom-right {
        margin-top: 0.5vh;
        margin-left: 0.5vw;

        border-radius: 9px 9px 0px 9px;
    }
}

.center-icon {
    font-size: 20px;
    padding: 6px;
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 22px;
    background: #544a63;
}

// .val-item {
//     text-align: center;
//     justify-content: center;
//     align-items: center;
//     --background: rgba(0, 0, 0, 0) !important;
// }

// CARBON COLORS
// .red {
//     background: #e62d62;
// }
// .orange {
//     background: #ff6f32;
// }
// .yellow {
//     background: #ffcd32;
// }

// .lime {
//     background: #a4d53f;
// }

// .green {
//     background: #03c074;
// }

// .aqua {
//     background: #56c9ab;
// }

// .sky {
//     background: #51a8e7;
// }
// .blue {
//     background: #3283c6;
// }

// .lightPurple {
//     background: #6a5787;
// }

// .purple {
//     background: #7f56ab;
// }

// .magenta {
//     background: #aa4ee0;
// }

// .pink {
//     background: #dc2054;
// }

// .lightPink {
//     background: #f38aae;
// }

// .hotPink {
//     background: #e0379d;
// }

// .black {
//     background: #333333;
// }

// .white {
//     background: #fff;
// }
