<!DOCTYPE html>
<ion-content fullscreen class="bg-theme">
    <div class="grid-container">
        <ion-grid class="grid">
            <ng-container *ngIf="players.length === 2">
                <div id="seat2" [hidden]="players.length != 2">
                    <div class="orient">
                        <ion-col
                            class="val-container top"
                            [style.background-color]="players[0].color"
                        >
                            <p class="val rotate-player1">{{ players[0].life }}</p>
                            <div
                                class="counter p1-add-life"
                                (click)="incrementLife(players[0])"
                            ></div>
                            <div
                                class="counter p1-rem-life"
                                (click)="decrementLife(players[0])"
                            ></div>
                        </ion-col>
                        <ion-col
                            class="val-container bottom"
                            [style.background-color]="players[1].color"
                        >
                            <p class="val rotate-player2">{{ players[1].life }}</p>
                            <div
                                class="counter p2-add-life"
                                (click)="incrementLife(players[1])"
                            ></div>
                            <div
                                class="counter p2-rem-life"
                                (click)="decrementLife(players[1])"
                            ></div>
                        </ion-col>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="players.length === 3">
                <div id="seat3" [hidden]="players.length != 3">
                    <ion-row>
                        <ion-col
                            class="val-container top"
                            [style.background-color]="players[0].color"
                        >
                            <p class="val rotate-player1">{{ players[0].life }}</p>
                            <div
                                class="counter p1-add-life"
                                (click)="incrementLife(players[0])"
                            ></div>
                            <div
                                class="counter p1-rem-life"
                                (click)="decrementLife(players[0])"
                            ></div>
                        </ion-col>
                        <ion-col
                            class="val-container top"
                            [style.background-color]="players[1].color"
                        >
                            <p class="val rotate-player2">{{ players[1].life }}</p>
                            <div
                                class="counter p2-add-life"
                                (click)="incrementLife(players[1])"
                            ></div>
                            <div
                                class="counter p2-rem-life"
                                (click)="decrementLife(players[1])"
                            ></div>
                        </ion-col>
                    </ion-row>
                    <!-- [style.background-color]="players[2].color != null ? players[2].color : '#6a5787'" -->

                    <ion-col
                        class="val-container-long bottom"
                        [style.background-color]="players[2].color"
                    >
                        <p class="val rotate-player3">{{ players[2].life }}</p>
                        <div class="counter p3-add-life" (click)="incrementLife(players[2])"></div>
                        <div class="counter p3-rem-life" (click)="decrementLife(players[2])"></div>
                    </ion-col>
                </div>
            </ng-container>
            <ng-container *ngIf="players.length === 4">
                <div id="seat4" [hidden]="players.length != 4">
                    <ion-row class="">
                        <ion-col
                            class="val-container top-left"
                            [style.background-color]="players[0].color"
                        >
                            <!-- <ion-item-sliding>
                        <ion-item class="val-item" lines="none" color="{{players[0].color}}">
                            <ion-label class="val life-rotate-left"
                                >{{ players[0].life }}</ion-label
                            >
                        </ion-item>
                        <ion-item-options>
                            <ion-item-option expandable color="{{players[0].color}}">
                                <ion-icon slot="start" name="archive"></ion-icon>
                                Archive
                            </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding> -->
                            <p class="val rotate-player1">{{ players[0].life }}</p>
                            <div
                                class="counter p1-add-life"
                                (click)="incrementLife(players[0])"
                            ></div>
                            <div
                                class="counter p1-rem-life"
                                (click)="decrementLife(players[0])"
                            ></div>
                        </ion-col>
                        <ion-col
                            class="val-container top-right"
                            [style.background-color]="players[1].color"
                        >
                            <p class="val rotate-player2">{{ players[1].life }}</p>
                            <div
                                class="counter p2-add-life"
                                (click)="incrementLife(players[1])"
                            ></div>
                            <div
                                class="counter p2-rem-life"
                                (click)="decrementLife(players[1])"
                            ></div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col
                            class="val-container bottom-left"
                            [style.background-color]="players[2].color"
                        >
                            <p class="val rotate-player3">{{ players[2].life }}</p>
                            <div
                                class="counter p3-add-life"
                                (click)="incrementLife(players[2])"
                            ></div>
                            <div
                                class="counter p3-rem-life"
                                (click)="decrementLife(players[2])"
                            ></div>
                        </ion-col>
                        <ion-col
                            class="val-container bottom-right"
                            [style.background-color]="players[3].color"
                        >
                            <p class="val rotate-player4">{{ players[3].life }}</p>
                            <div
                                class="counter p4-add-life"
                                (click)="incrementLife(players[3])"
                            ></div>
                            <div
                                class="counter p4-rem-life"
                                (click)="decrementLife(players[3])"
                            ></div>
                        </ion-col>
                    </ion-row>
                </div>
            </ng-container>
            <!-- central settings icon -->
            <ion-icon name="settings" class="center-icon"></ion-icon>
        </ion-grid>
    </div>
</ion-content>
