:host-context(page-contentFilters) {
    [text-size-md],
    [text-size-xs] {
        font-weight: 400;
    }
    ion-card {
        --background: var(--mystic-toobarBackground, #ffffff) !important;
    }
}

// .bg-theme {
//     // --background: #9f86c0 !important;
//     --background: #1b2026 !important;
//     background: #1b2026 !important;
// }
.bg-theme {
    // --background: #1b2026 !important;
    --background: #3f4d5a !important;
    background: #3f4d5a !important;
}

.bdr-circle {
    // border-radius: 30px;
    width: 35px;
    height: 35px;
    // background-color: #ffffff !important;
}

.filter {
    bottom: 11px;
    right: 11px;
    height: 50px;
    width: 50px;
    z-index: 100;
}

.z-grid {
    z-index: 1;
    position: relative;
}

.lg {
    width: 40px;
    height: 40px;
}

.status {
    text-align: center;
    color: white;
}
