// bg and layout
.bg-theme {
    --background: #544a63 !important;
}

.grid-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    .grid {
        padding: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        align-content: center;
    }
}

.color-picker .select-interface-option {
    color: red;
}

.detail {
    border-radius: 9px;
    color: #fff;
    width: 95vw;
    margin: 10px;
    --background: rgba(84, 74, 99, 0.3);

    .num {
        font-size: 25px;
        margin: 5px;
        color: #fff;
        border-radius: 7px;
    }

    .cmd-num {
        padding: 5px 7px 5px !important;
    }

    .left-num {
        margin-right: 16px !important;
        padding: 5px 10px 5px !important;
    }

    .cmdDam-lab {
        padding: 5px;
    }

    .just-cent {
        justify-content: center;
    }

    .but {
        font-size: 22px;
        color: #fff;
        border-radius: 7px;
        --background: rgba(84, 74, 99, 0.5) !important;
        box-shadow: none;
        height: 37px;
        width: 37px;
        margin: 5px;
    }

    .item-icon {
        // color: #6a5787;
        color: #fff;
    }
}
.top-left {
    color: #fff;
    position: absolute;
    padding: 15px;
    font-size: 30px;
    z-index: 2;
    top: 0;
    left: 0;
}
