/* Settings Segments Button
===============================*/
:host-context(page-home) {
    ion-segment {
        display: flex;
        flex-direction: row;
        overflow: auto;
        justify-content: flex-start;

        ion-segment-button.segment-button {
            width: auto !important;
            overflow: visible;
            margin: 0 5px;
        }
    }

    .center {
        align-content: center;
        place-content: center;
        position: relative;
        text-align: center;
    }

    ion-slides {
        padding-bottom: 40px;

        .slide-zoom {
            height: 100%;
            text-align: left;
        }
    }

    /* Settings Slider Image*/
    // [background-size-header] {
    //     position: relative;
    //     height: 230px;
    //     overflow: hidden;
    //     border-radius: 4px !important;

    //     &::after {
    //         content: '';
    //         position: absolute;
    //         bottom: 0;
    //         left: 0;
    //         right: 0;
    //         top: 0;
    //         // background: rgba(0, 0, 0, 0.34);
    //     }

    //     /* Settings Wizard */
    //     [wizard-title] {
    //         color: var(--mystic-sliderColor, #ffffff);
    //         font-size: 18px;
    //         z-index: 999;
    //         padding: 16px;
    //         left: 0;
    //         position: absolute;
    //         bottom: 25px;
    //     }
    //     /* Settings DataTime */
    //     ion-chip {
    //         z-index: 999;
    //         padding: 16px;
    //         position: absolute;
    //         bottom: 10px;
    //         left: 0;
    //         font-size: 14px;

    //         ion-icon,
    //         ion-label {
    //             color: var(--mystic-sliderColor, #ffffff) !important;
    //         }
    //     }
    //     /* Settings BookMark */
    //     [bookMark] {
    //         z-index: 99;
    //         position: absolute;
    //         top: 5px;
    //         right: 16px;

    //         ion-icon {
    //             color: var(--mystic-sliderColor, #ffffff);
    //         }
    //     }
    // }

    /* Settings Slider Image*/
    [background-size] {
        position: relative;
        height: 230px;
        overflow: hidden;
        border-radius: 4px !important;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            // background: rgba(0, 0, 0, 0.34);
            background: rgba(0, 0, 0, 0.04);
        }

        /* Settings Wizard */
        [wizard-title] {
            color: var(--mystic-sliderColor, #ffffff);
            font-size: 18px;
            z-index: 999;
            padding: 16px;
            left: 0;
            position: absolute;
            bottom: 25px;
        }
        /* Settings DataTime */
        ion-chip {
            z-index: 999;
            padding: 16px;
            position: absolute;
            bottom: 10px;
            left: 0;
            font-size: 14px;

            ion-icon,
            ion-label {
                color: var(--mystic-sliderColor, #ffffff) !important;
            }
        }
        /* Settings BookMark */
        [bookMark] {
            z-index: 99;
            position: absolute;
            top: 5px;
            right: 16px;

            ion-icon {
                color: var(--mystic-sliderColor, #ffffff);
            }
        }
    }
}

.ion-segment-header {
    --background: var(--mystic-toobarBackground, #ffffff) !important;
    --background-checked: var(--mystic-toobarBackground, #ffffff) !important;
    --background-activated: var(--mystic-toobarBackground, #ffffff) !important;
    --color-checked: #9f86c0 !important;
}

.h-125 {
    height: 125px !important;
    object-fit: cover;
    // object-position: 100% 0;
}

.filter {
    bottom: 11px;
    right: 11px;
    height: 50px;
    width: 50px;
    z-index: 100;
}

.z-grid {
    z-index: 1;
    position: relative;
}

.logo {
    background: transparent;
}

.logo-inner {
    object-fit: fill;
    // width:	25px;
    // height: 25px
}

.bdr-5 {
    border-radius: 25px !important;
}

.mg-0 {
    margin: 0px !important;
    padding: 0px !important;
}

.h-125 {
    height: 125px !important;
}

.small-fab {
    width: 30px;
    height: 30px;
    --background: var(--mystic-backgroundColor, #ffffff);
}

.filter2 {
    top: 250px;
    right: 25px;
    height: 25px;
    --background: var(--mystic-backgroundColor, #ffffff);
    width: 25px;
    z-index: 100;
}

.share-but {
    margin-left: 100px !important;
    margin-top: 24px !important;
    color: white !important;
}
