<!DOCTYPE html>
<ion-content fullscreen class="bg-theme">
    <div class="grid-container">
        <ion-grid class="grid">
            <ng-container *ngIf="displaySettings">
                <div id="settingsOverlay">
                    <div class="overlay">
                        <ion-grid>
                            <ion-row>
                                <ion-col class="option">
                                    <ion-icon name="stopwatch" class="icon"></ion-icon>
                                    <p>Timer</p>
                                </ion-col>
                                <ion-col class="option">
                                    <ion-icon name="time" class="icon"></ion-icon>
                                    <p>Timer</p>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="option">
                                    <ion-icon name="color-palette" class="icon"></ion-icon>
                                    <p>Colors</p>
                                </ion-col>

                                <ion-col class="option">
                                    <ion-icon name="color-palette" class="icon"></ion-icon>
                                    <p>Quit Game</p>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
            </ng-container>

            <!-- 1 player -->
            <ng-container *ngIf="players.length === 1">
                <div id="seat1">
                    <ng-container *ngFor="let player of players">
                        <ion-col class="val-container" [style.background-color]="player.color">
                            <!-- <ion-item-sliding class="na">
                                <ion-item-options side="start">
                                    <ion-item-option color="danger" expandable>
                                        Delete
                                    </ion-item-option>
                                </ion-item-options>

                                <ion-item class="na" lines="none">
                                    <ion-label class="val rotate-player0"
                                        >{{ player.life }}</ion-label
                                    >
                                </ion-item>

                                <ion-item-options side="end" class="na">
                                    <ion-item-option color="tertiary" expandable>
                                        Archive
                                    </ion-item-option>
                                </ion-item-options>
                            </ion-item-sliding> -->
                            <!-- <div class="dot-container rotate-player0">
                                <span class="dot" onclick="currentSlide(1)"></span>
                                <span class="dot" onclick="currentSlide(2)"></span>
                                <span class="dot" onclick="currentSlide(3)"></span>
                            </div> -->
                            <p class="val rotate-player0">
                                {{ player.life }}
                            </p>

                            <!-- <ion-icon name="heart" class="options rotate-player0"></ion-icon> -->

                            <div
                                class="counter p0-add-life tap"
                                (click)="incrementLife(player)"
                            ></div>
                            <div
                                class="counter p0-rem-life tap"
                                (click)="decrementLife(player)"
                            ></div>
                        </ion-col>
                    </ng-container>
                </div>
            </ng-container>
            <!-- 2 players -->
            <ng-container *ngIf="players.length === 2">
                <div id="seat2">
                    <div class="flex-land">
                        <ng-container *ngFor="let player of players; let i = index;">
                            <ion-col
                                class="val-container p{{i}}"
                                [style.background-color]="player.color"
                            >
                                <p class="val rotate-player{{i}}">{{ player.life }}</p>
                                <!-- <ion-icon
                                    name="heart"
                                    class="options rotate-player{{i}}"
                                ></ion-icon> -->
                                <div
                                    class="counter p{{i}}-add-life tap"
                                    (click)="incrementLife(player)"
                                ></div>
                                <div
                                    class="counter p{{i}}-rem-life tap"
                                    (click)="decrementLife(player)"
                                ></div>
                            </ion-col>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <!-- 3 players -->
            <ng-container *ngIf="players.length === 3">
                <div id="seat3">
                    <div class="flex-land">
                        <div class="flex-port orient">
                            <ng-container *ngFor="let player of players; let i = index;">
                                <ion-col
                                    class="val-container long-p{{i}} p{{i}}"
                                    [style.background-color]="player.color"
                                >
                                    <p class="val rotate-player{{i}}">{{ player.life }}</p>
                                    <div
                                        class="counter p{{i}}-add-life tap"
                                        (click)="incrementLife(player)"
                                    ></div>
                                    <div
                                        class="counter p{{i}}-rem-life tap"
                                        (click)="decrementLife(player)"
                                    ></div>
                                </ion-col>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- 4 players -->
            <ng-container *ngIf="players.length === 4">
                <div id="seat4">
                    <div class="orient">
                        <ng-container *ngFor="let player of players; let i = index;">
                            <ion-col
                                id="p{{i}}"
                                class="val-container  p{{i}}"
                                [style.background-color]="player.color"
                            >
                                <p class="val rotate-player{{i}}">{{ player.life }}</p>
                                <div
                                    class="counter p{{i}}-add-life tap"
                                    (click)="incrementLife(player)"
                                ></div>
                                <div
                                    class="counter p{{i}}-rem-life tap"
                                    (click)="decrementLife(player)"
                                ></div>
                            </ion-col>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <!-- 5 players -->
            <ng-container *ngIf="players.length === 5">
                <div id="seat5">
                    <div class="orient">
                        <ng-container *ngFor="let player of players; let i = index;">
                            <ion-col
                                id="p{{i}}"
                                class="val-container long-p{{i}} p{{i}}"
                                [style.background-color]="player.color"
                            >
                                <p class="val rotate-player{{i}}">{{ player.life }}</p>
                                <div
                                    class="counter p{{i}}-add-life tap"
                                    (click)="incrementLife(player)"
                                ></div>
                                <div
                                    class="counter p{{i}}-rem-life tap"
                                    (click)="decrementLife(player)"
                                ></div>
                            </ion-col>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <!-- 6 players -->
            <ng-container *ngIf="players.length === 6">
                <div id="seat6">
                    <div class="orient">
                        <ng-container *ngFor="let player of players; let i = index;">
                            <ion-col
                                id="p{{i}}"
                                class="val-container p{{i}}"
                                [style.background-color]="player.color"
                            >
                                <p class="val rotate-player{{i}}">{{ player.life }}</p>
                                <div
                                    class="counter p{{i}}-add-life tap"
                                    (click)="incrementLife(player)"
                                ></div>
                                <div
                                    class="counter p{{i}}-rem-life tap"
                                    (click)="decrementLife(player)"
                                ></div>
                            </ion-col>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <!-- settings icon -->
            <div id="settings">
                <ion-icon
                    name="settings"
                    class="settings-icon"
                    (click)="settings()"
                    [ngClass]="{ 'seat1p': players.length === 1, 'seat3-5p': players.length === 3 || players.length === 5, 'seat2-4p': players.length === 2 || players.length === 4,  'seat6p': players.length === 6  }"
                ></ion-icon>
            </div>
        </ion-grid>
    </div>
</ion-content>
