<!DOCTYPE html>
<ion-content fullscreen class="bg-theme">
    <div class="grid-container">
        <ion-grid class="grid">
            <!-- counter -->
            <div id="seat{{game.numPlayers}}">
                <div class="flex-land-3">
                    <div class="flex-port orient flex-land-2">
                        <ng-container *ngFor="let player of game.players; let i = index;">
                            <ion-col
                                id="p{{i}}"
                                class="val-container long-p{{i}} p{{i}}"
                                [style.background-color]="player.color"
                            >
                                <p class="val rotate-player{{i}}">
                                    {{ player.life }}
                                </p>
                                <div
                                    class="counter p{{i}}-add-life tap"
                                    (click)="lifeCounter.incrementLife(player)"
                                    ion-long-press
                                    [interval]="600"
                                    (longPressed)="detailsModal(player)"
                                ></div>
                                <div
                                    class="counter p{{i}}-rem-life tap"
                                    (click)="lifeCounter.decrementLife(player)"
                                    ion-long-press
                                    [interval]="600"
                                    (longPressed)="detailsModal(player)"
                                ></div>
                            </ion-col>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!-- settings icon -->
            <div id="settings" (click)="setSettings('default')">
                <div
                    class="display"
                    [ngClass]="{ 'seat1p': game.numPlayers === 1, 'seat3-5p': game.numPlayers === 3 || game.numPlayers === 5, 'seat2-4p': game.numPlayers === 2 || game.numPlayers === 4,  'seat6p': game.numPlayers === 6 }"
                >
                    <ion-icon
                        name="settings"
                        class="settings-but settings-icon"
                        *ngIf="!timerOn"
                    ></ion-icon>
                    <div
                        class="settings-but settings-timer"
                        *ngIf="timerOn"
                        [ngClass]="{'rotate': game.numPlayers > 1, 'rotate1': game.numPlayers === 1 }"
                    >
                        {{ timerDisplay }}
                    </div>
                </div>
            </div>
            <!-- settings overlay -->
            <ng-container *ngIf="settingsIs() != 'off'">
                <div id="overlay">
                    <div class="bg">
                        <ion-icon
                            name="close"
                            class="top-left"
                            (click)="setSettings('off')"
                        ></ion-icon>
                        <ng-container *ngIf="settingsIs() === 'default'">
                            <ion-grid>
                                <ion-row>
                                    <ion-col class="option tap" (click)="resetGame()">
                                        <ion-icon name="sync" class="icon icon-tap"></ion-icon>
                                        <p class="option-text">RESET</p>
                                    </ion-col>
                                    <ion-col class="option tap" (click)="setSettings('timer')">
                                        <ion-icon name="timer" class="icon icon-tap"></ion-icon>
                                        <p class="option-text">TIMER</p>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col class="option tap" (click)="setSettings('history')">
                                        <ion-icon name="library" class="icon icon-tap"></ion-icon>
                                        <p class="option-text">HISTORY</p>
                                    </ion-col>
                                    <ion-col class="option tap" (click)="quitGame()">
                                        <ion-icon name="log-out" class="icon icon-tap"></ion-icon>
                                        <p class="option-text">QUIT</p>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ng-container>
                        <!-- history overlay -->
                        <ng-container *ngIf="settingsIs() === 'history'">
                            <ion-icon
                                name="chevron-forward"
                                class="top-right"
                                (click)="setSettings('default')"
                            ></ion-icon>
                            <ion-grid class="hist-grid">
                                <ion-row>
                                    <ng-container *ngFor="let player of game.players">
                                        <ion-col class="hist-col">
                                            <p class="hist" [style.color]="player.color">
                                                {{ game.startingLife }}
                                            </p>
                                            <p
                                                *ngFor="let hist of player.history"
                                                class="hist"
                                                [style.color]="player.color"
                                            >
                                                {{ hist }}
                                            </p>
                                        </ion-col>
                                    </ng-container>
                                </ion-row>
                            </ion-grid>
                        </ng-container>
                        <!-- timer overlay -->
                        <ng-container *ngIf="settingsIs() === 'timer'">
                            <ion-icon
                                name="chevron-forward"
                                class="top-right"
                                (click)="setSettings('default')"
                            ></ion-icon>
                            <ion-grid id="timer">
                                <ion-row class="timer-display">
                                    {{ timerDisplay }}
                                </ion-row>
                                <ion-row>
                                    <ion-col class="timer-icon" (click)="editTimer()">
                                        <ion-icon name="pencil"></ion-icon>
                                    </ion-col>
                                    <ion-col class="timer-icon" (click)="resetTimer()">
                                        <ion-icon name="reload"></ion-icon>
                                    </ion-col>
                                    <ion-col class="timer-icon" (click)="toggleTimer()">
                                        <ion-icon name="play" *ngIf="!timerOn"></ion-icon>
                                        <ion-icon name="pause" *ngIf="timerOn"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </ion-grid>
    </div>
</ion-content>
