<!DOCTYPE html>
<ion-content fullscreen class="bg-theme">
    <div class="grid-container">
        <ion-grid class="grid">
            <!-- 1 player -->
            <ng-container *ngIf="game.numPlayers === 1">
                <div id="seat1">
                    <ng-container *ngFor="let player of game.players">
                        <ion-col class="val-container" [style.background-color]="player.color">
                            <!-- <ion-item-sliding class="na">
                                <ion-item-options side="start">
                                    <ion-item-option color="danger" expandable>
                                        Delete
                                    </ion-item-option>
                                </ion-item-options>

                                <ion-item class="na" lines="none">
                                    <ion-label class="val rotate-player0"
                                        >{{ player.life }}</ion-label
                                    >
                                </ion-item>

                                <ion-item-options side="end" class="na">
                                    <ion-item-option color="tertiary" expandable>
                                        Archive
                                    </ion-item-option>
                                </ion-item-options>
                            </ion-item-sliding> -->
                            <!-- <div class="dot-container rotate-player0">
                                <span class="dot" onclick="currentSlide(1)"></span>
                                <span class="dot" onclick="currentSlide(2)"></span>
                                <span class="dot" onclick="currentSlide(3)"></span>
                            </div> -->
                            <p class="val rotate-player0">
                                {{ player.life }}
                            </p>

                            <!-- <ion-icon name="heart" class="options rotate-player0"></ion-icon> -->

                            <div
                                class="counter p0-add-life tap"
                                (click)="incrementLife(player)"
                            ></div>
                            <div
                                class="counter p0-rem-life tap"
                                (click)="decrementLife(player)"
                            ></div>
                        </ion-col>
                    </ng-container>
                </div>
            </ng-container>
            <!-- 2 game.players -->
            <ng-container *ngIf="game.numPlayers === 2">
                <div id="seat2">
                    <div class="flex-land">
                        <ng-container *ngFor="let player of game.players; let i = index;">
                            <ion-col
                                class="val-container p{{i}}"
                                [style.background-color]="player.color"
                            >
                                <p class="val rotate-player{{i}}">
                                    {{ player.life }}
                                </p>
                                <!-- <ion-icon
                                    name="heart"
                                    class="options rotate-player{{i}}"
                                ></ion-icon> -->
                                <div
                                    class="counter p{{i}}-add-life tap"
                                    (click)="incrementLife(player)"
                                    ion-long-press
                                    [interval]="600"
                                    (longPressed)="detailsModal(player)"
                                ></div>
                                <div
                                    class="counter p{{i}}-rem-life tap"
                                    (click)="decrementLife(player)"
                                    ion-long-press
                                    [interval]="600"
                                    (longPressed)="detailsModal(player)"
                                ></div>
                            </ion-col>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <!-- 3 game.players -->
            <ng-container *ngIf="game.numPlayers === 3">
                <div id="seat3">
                    <div class="flex-land">
                        <div class="flex-port orient">
                            <ng-container *ngFor="let player of game.players; let i = index;">
                                <ion-col
                                    class="val-container long-p{{i}} p{{i}}"
                                    [style.background-color]="player.color"
                                >
                                    <p class="val rotate-player{{i}}">{{ player.life }}</p>
                                    <div
                                        class="counter p{{i}}-add-life tap"
                                        (click)="incrementLife(player)"
                                    ></div>
                                    <div
                                        class="counter p{{i}}-rem-life tap"
                                        (click)="decrementLife(player)"
                                    ></div>
                                </ion-col>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- 4 game.players -->
            <ng-container *ngIf="game.numPlayers === 4">
                <div id="seat4">
                    <div class="orient">
                        <ng-container *ngFor="let player of game.players; let i = index;">
                            <ion-col
                                id="p{{i}}"
                                class="val-container  p{{i}}"
                                [style.background-color]="player.color"
                            >
                                <p class="val rotate-player{{i}}">{{ player.life }}</p>
                                <div
                                    class="counter p{{i}}-add-life tap"
                                    (click)="incrementLife(player)"
                                ></div>
                                <div
                                    class="counter p{{i}}-rem-life tap"
                                    (click)="decrementLife(player)"
                                ></div>
                            </ion-col>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <!-- 5 game.players -->
            <ng-container *ngIf="game.numPlayers === 5">
                <div id="seat5">
                    <div class="orient">
                        <ng-container *ngFor="let player of game.players; let i = index;">
                            <ion-col
                                id="p{{i}}"
                                class="val-container long-p{{i}} p{{i}}"
                                [style.background-color]="player.color"
                            >
                                <p class="val rotate-player{{i}}">{{ player.life }}</p>
                                <div
                                    class="counter p{{i}}-add-life tap"
                                    (click)="incrementLife(player)"
                                ></div>
                                <div
                                    class="counter p{{i}}-rem-life tap"
                                    (click)="decrementLife(player)"
                                ></div>
                            </ion-col>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <!-- 6 game.players -->
            <ng-container *ngIf="game.numPlayers === 6">
                <div id="seat6">
                    <div class="orient">
                        <ng-container *ngFor="let player of game.players; let i = index;">
                            <ion-col
                                id="p{{i}}"
                                class="val-container p{{i}}"
                                [style.background-color]="player.color"
                            >
                                <p class="val rotate-player{{i}}">{{ player.life }}</p>
                                <div
                                    class="counter p{{i}}-add-life tap"
                                    (click)="incrementLife(player)"
                                ></div>
                                <div
                                    class="counter p{{i}}-rem-life tap"
                                    (click)="decrementLife(player)"
                                ></div>
                            </ion-col>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <!-- settings icon -->
            <div id="settings">
                <ion-icon
                    name="settings"
                    class="settings-icon"
                    (click)="toggleSettings()"
                    [ngClass]="{ 'seat1p': game.numPlayers === 1, 'seat3-5p': game.numPlayers === 3 || game.numPlayers === 5, 'seat2-4p': game.numPlayers === 2 || game.numPlayers === 4,  'seat6p': game.numPlayers === 6  }"
                ></ion-icon>
            </div>
            <!-- settings overlay -->
            <ng-container *ngIf="displaySettings">
                <div id="overlay">
                    <div class="bg">
                        <ion-icon
                            name="close"
                            class="top-left"
                            (click)="toggleSettings()"
                        ></ion-icon>
                        <ng-container *ngIf="!displayHistory">
                            <ion-grid>
                                <ion-row>
                                    <!-- <ion-col
                                        class="option tap"
                                        (click)="detailsModal(game.players[0])"
                                    >
                                        <ion-icon name="stopwatch" class="icon icon-tap"></ion-icon>
                                        <p class="option-text">Details</p>
                                    </ion-col> -->
                                    <ion-col class="option tap" (click)="reset()">
                                        <ion-icon name="sync" class="icon icon-tap"></ion-icon>
                                        <p class="option-text">RESET</p>
                                    </ion-col>
                                    <ion-col class="option tap" (click)="toggleTimer()">
                                        <ion-icon name="timer" class="icon icon-tap"></ion-icon>
                                        <p class="option-text">TIMER</p>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col class="option tap" (click)="displayHistory = true">
                                        <ion-icon name="library" class="icon icon-tap"></ion-icon>
                                        <p class="option-text">HISTORY</p>
                                    </ion-col>
                                    <ion-col class="option tap" (click)="quit()">
                                        <ion-icon name="log-out" class="icon icon-tap"></ion-icon>
                                        <p class="option-text">QUIT</p>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ng-container>
                        <!-- history overlay -->
                        <ng-container *ngIf="displayHistory">
                            <ion-icon
                                name="chevron-forward"
                                class="top-right"
                                (click)="displayHistory = false"
                            ></ion-icon>
                            <ion-grid class="hist-grid">
                                <ion-row>
                                    <ng-container *ngFor="let player of game.players">
                                        <ion-col class="hist-col">
                                            <p class="hist" [style.color]="player.color">
                                                {{ game.startingLife }}
                                            </p>
                                            <p
                                                *ngFor="let hist of player.history"
                                                class="hist"
                                                [style.color]="player.color"
                                            >
                                                {{ hist }}
                                            </p>
                                        </ion-col>
                                    </ng-container>
                                </ion-row>
                            </ion-grid>
                        </ng-container>
                        <!-- timer overlay -->
                        <ng-container *ngIf="displayTimer">
                            <ion-icon
                                name="chevron-forward"
                                class="top-right"
                                (click)="displayTimer = false"
                            ></ion-icon>
                            <ion-grid class="hist-grid">
                                <ion-row>
                                    <ng-container *ngFor="let player of game.players">
                                        <ion-col class="hist-col">
                                            <p class="hist" [style.color]="player.color">
                                                {{ game.startingLife }}
                                            </p>
                                            <p
                                                *ngFor="let hist of player.history"
                                                class="hist"
                                                [style.color]="player.color"
                                            >
                                                {{ hist }}
                                            </p>
                                        </ion-col>
                                    </ng-container>
                                </ion-row>
                            </ion-grid>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </ion-grid>
    </div>
</ion-content>
